@import "../abstract/variables.scss";
@import '../abstract/mixin.scss';
.title {
  font-size: 5rem;
  font-weight: 400;
  text-align: center;
  padding:0 1rem;
    
}
.subtitle{
  font-size: 3.5rem;
  font-weight: 400;
  text-transform: capitalize;
  text-align: center;
}
.titleCard{
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
}
.detail {
  @include detailText;
}
.detailHeader{
  @include detailText;
  text-align: left;
  width: 40rem;
  font-size: 2rem;

}
.container {
  @include containerIconos;

}
.detail__articles{
  font-size: 1.2rem;
  color: $GrayishBlue;
  text-align: left;
  font-weight: 400;
  line-height: 1.8rem;
  margin-top: 1rem;
   @media screen and (max-width:$tablet) {
    font-size: 2rem;
    line-height: 2.5rem;
      
  }
   @media screen and (max-width:$mobile) {
    font-size: 1.5rem;
    line-height: 2rem;
      
  }
}