@import "../abstract/variables.scss";

.button {
  background: linear-gradient(to right, $LimeGreen, $BrightCyan);
  border-radius: 2rem;
  border: none;
  color: #fff;
  font-size: 2rem;
  padding: 1.3rem 2.6rem;
  text-transform: capitalize;
  @media screen and (max-width: $tablet) {
    padding: 1.5rem 3rem;
    font-size: 2rem;
    border-radius: 3rem;
  }
}
