@import "../abstract/variables.scss";

.article {
  &__title {
    text-align: left;
    width: 60rem;
    padding: 5rem 8rem;
    margin: unset;

    @media screen and (max-width: $tablet) {
      padding: unset;
      text-align: center;
      width: unset;
    }
    
  }
  &__content {
    padding: 0 8rem;
    display: flex;
    gap: 3rem;
    margin-bottom: 10rem;
     @media screen and (max-width:850px) {
        padding:0 1rem 1rem 8rem;
    }

    @media screen and (max-width: $tablet) {
      padding: 0 1em;
      display: block;
    }
  }
}
