@import "../abstract/variables.scss";
.header {
  position: relative;
  z-index: 100;
  top: -12.5rem;
  display: flex;

  @media screen and (max-width: $tablet) {
    display: unset;
  }

  &__titleGeneration {
    text-align: left;
    @media screen and (max-width: $tablet) {
      text-align: unset;
    }
  }

  &__image {
    width: 50vw;
    @media screen and (max-width: 1000px) {
      width: 100%;
    }
    @media screen and (max-width: $tablet) {
      width: 100vw;
    }
  }

  &__textContainer {
    flex-grow: 1;
    padding: 0 3rem;
    margin-top: 10rem;
    @media screen and (max-width: $tablet) {
      flex-grow: unset;
      padding: unset;
      margin-top: unset;
    }
    @media screen and (max-width: 467px) {
      padding: 0 2rem;
    }
  }
  &__title {
    @media screen and (max-width: 467px) {
      padding: unset;
      font-size: 3rem;
    }
  }
  &__contain {
    font-size: 2rem;
    @media screen and (max-width: 467px) {
      padding: unset;
      text-align: center;
      width: unset;
      font-size: 1.5rem;
    }
  }
  &__background {
    background-image: url("../../assets/images/bg-intro-desktop.svg");
    order: 2;
    background-repeat: no-repeat;
    background-size: cover;
    flex-grow: 1;

    @media screen and (max-width: $tablet) {
      background-image: url("../../assets/images/bg-intro-mobile.svg");
      background-repeat: no-repeat;
      background-size: cover;
      order: 1;
    }

    @media screen and (max-width: $mobile) {
      background-size: unset;
    }
  }

  &__button {
    font-size: 1.5rem;
    cursor: pointer;
  }
}
