@import "../abstract/variables.scss";
.header {
  position: relative;
  z-index: 100;
  top: -12.5rem;
 
  &__image {
    width: 100vw;
  }
  &__background {
     @media screen and (max-width: $tablet) {
       background-image: url("../../assets/images/bg-intro-mobile.svg");
       background-repeat: no-repeat;
        background-size: cover;
    }
    @media screen and (max-width: $mobile) {
        background-size:unset;
    }
  }
  
}
